<div class="flex items-center justify-center min-h-screen">
  <div
    class="max-w-2xl mx-auto p-8 pt-6 bg-white shadow-lg rounded-lg justify-center"
  >
    <div class="flex justify-between items-center gap-6">
      <span class="text-2xl font-semibold mb-6">Dashboard</span>
      <span class="text-2xl font-semibold mb-6 text-green-600"
        >Budget Tracker</span
      >

      <img
        class="rounded-full bg-gray-200 object-cover w-[40px] h-[40px]"
        src="assets/images/expensetracker.png"
        alt="Expense Tracker Icon"
      />
    </div>
    <div class="flex gap-4 text-center">
      <div>
        <h3 class="text-xl font-semibold text-green-600">Total Income</h3>
        <p class="text-2xl">NPR:{{ totalIncome }}</p>
      </div>

      <div>
        <h3 class="text-xl font-semibold text-red-600">Total Expense</h3>
        <p class="text-2xl">NPR:{{ totalExpense }}</p>
      </div>

      <div>
        <h3 class="text-xl font-semibold text-blue-600">Available Balance</h3>
        <p class="text-2xl">NPR:{{ balance }}</p>
      </div>
    </div>

    <div class="mt-6">
      <button
        routerLink="/income-expense"
        class="py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600"
      >
        Manage Income/Expense
      </button>
    </div>
  </div>
</div>
