@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #232c41;
  overflow: hidden;
}
.custom-color-primary .mat-checkbox-frame {
  border-color: wheat;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
